apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-python-mvkhzftw
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-python-mvkhzftw:4503cc0d9bdb3af5de4eff36d12037979743842b@sha256:750f2460bf1340745f70dd40fd4c538a913f3b8e8b37a0dcdd29c271d2ceae8c
          name: container-image
